<div class="text-center">
  <span class="position-absolute start-0 home-link">
    <a class="" [routerLink]="['']"><i class="fa fa-home pe-1" aria-hidden="true"></i
      >{{ "home" | translate }}</a></span
  >
  <img
    src="/assets/images/plany/plany-logo.png"
    style="width: 100px"
    class="mt-3 fade-down"
  />
  <h1 class="">Plany</h1>
  <h2 class="description">{{ "plany-description" | translate }}</h2>
  <section class="mobile-carousel">
    <!-- <div class="mobile-carousel row">
      <div class="col text-center">
        <span class="mobile-header">Mobile</span>
      </div>
      <div class="col-sm-4 col-lg-2 col-md-3">
        <div class="smartphone">
          <div class="content">
            <ngb-carousel [showNavigationArrows]="showNavigationArrows">
              <ng-template ngbSlide *ngFor="let re of images; let i = index">
                <div class="picsum-img-wrapper9">
                  <img src="/assets/images/plany/{{ re }}.png" class="w-100" />
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div> -->
    <div class="smartphone">
      <div class="content">
        <ngb-carousel [showNavigationArrows]="showNavigationArrows">
          <ng-template ngbSlide *ngFor="let re of images; let i = index">
            <div class="picsum-img-wrapper9">
              <img
                src="/assets/images/plany/mobile/{{ re }}.png"
                class="w-100"
              />
            </div>
            <!-- <div class="carousel-caption">
                              <h3>First slide label</h3>
                              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                          </div> -->
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </section>
  <section>
    <div class="content row m-0">
      <div class="col-sm-8 offset-sm-2">
        <ngb-carousel
          [showNavigationArrows]="showNavigationArrows"
          class="wide-screen"
        >
          <ng-template ngbSlide *ngFor="let re of wideImages; let i = index">
            <div class="picsum-img-wrapper9">
              <img
                src="/assets/images/plany/wide-screen/{{ re }}.png"
                class="w-100"
              />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </section>
  <div class=" text-center  d-flex justify-content-center">
    <h4 class="col-md-8 col-12">
      I developed it with .NetCore, C#, Entity Framework, SQL
      Server, Angular, Type Script, Scss, Bootstrap
    </h4>
  </div>

  <div>
    <a
      href="https://github.com/RivkyRubin/plany"
      target="_blank"
      class="git-link"
      ><i class="fa fa-github" aria-hidden="true"></i> Github</a
    >
  </div>
  <div class="row m-0">
    <div class="col-sm-6 col-12 offset-sm-3">
      <a
        href="https://www.eventsplany.com/"
        target="_blank"
        class="btn primary-btn p-3 mt-3 mb-3 w-100"
        >{{ "visit" | translate }}</a
      >
    </div>
  </div>
</div>
