<div class="row9 h-100 flex-parent first-section">
  <!-- <div class="col header text-center d-flex">
    <h1 class="align-self-center text-center w-100 fade-down">
      <img src="/assets/images/logo.png" style="width: 70px" /><br /><br />
      Hi! I'm<br />
      <span class="bold">Rivky Rubin</span><br /><span
        >A freelancer developer</span
      >
    </h1>
  </div>
  <div class="col-sm-6 p-0">
    <div class="content h-100"></div>
  </div> -->

  <div class="header text-center d-flex flex-content hidden-sm4 order-sm-1 order-2">
    <h1 *ngIf="showName" class="align-self-center text-center w-100 fade-down">
      <div><img src="/assets/images/newlogo2.png" style="width: 130px" /></div>
       <img src="/assets/images/left.png" width="30px" class="brackets left"><span class="bold name text-dark">{{ "name" | translate }}</span> <img width="30px" src="/assets/images/right.png" class="brackets right" >
     
      <br /><h3 class="typewriter9" [innerHtml]="'description' | translate"></h3>
<h4 class="typewriter desc2" [innerHtml]="'description2' | translate"></h4>
    </h1> <div class="position-absolute text-center w-100 scroll-down " *ngIf="showScroll">
    <i class="fat fa fa-thin fa-chevron-down fa-2xl " aria-hidden="true"></i
      > 
  </div>
  </div>
  <div class="p-0 flex-narrow image-box order-sm-2  order-1">
    <div class="content h-100 position-relative">
      <div class="platforms position-absolute start-0" *ngIf="showName">
        <div class=" platform">{{ "apps" | translate }}</div>
        <div class=" platform">{{ "websites" | translate }}</div>
        <div class=" platform">{{ "programs" | translate }}</div>
      </div>
      <div class="position-absolute content2"  >
        
      </div>
    </div>
  </div>
  <div class="flex-narrow last-column order-md-3"></div>
 
</div>
<section class="info">
  <div class="row m-0 fade-up" *inView>
    <div class="col-sm-8 offset-sm-2">
      <div class="text-center">
        <span [innerHtml]="'about' | translate"></span> 
      </div>
    </div>
  </div>
</section>
<!-- <div class="container-fluid"> -->

<section class="projects">
  <div *inView class="fade-down text-center">
    <h2>{{ "myProjects" | translate }}</h2>
    <div class="d-flex justify-content-center plany-project gap-sm-3 gap- position-relative">
      <a routerLink="/plany" routerLinkActive="active">
      
        <img
          src="/assets/images/plany/plany-logo.png"
          style="width: 70px"
        />
      </a>
      <div><h3>Plany</h3><span>{{'eventsManager' | translate}}</span></div>
      <div class="align-self-center"> <a routerLink="/plany" routerLinkActive="active"> 
         <button class="btn btn-primary plany-btn">
          {{'readMore' | translate}}
        </button>
    
      </a>  </div>
      <!-- Planny: <a href="https://www.plany.com/" target="_blank">{{'visit' | translate}}</a> -->

    </div>
  </div>
</section>

<section class="technologies text-center">
  <div *inView>
    <h2>{{ "skills" | translate }}</h2>
    <div class="d-flex squares gx-1 gy-1 fade-down">
      <div
        *ngFor="let tech of technologies"
        class="tech p-0 square glass-bg d-flex m-1"
      >
        <span class="align-self-center text-center w-100">{{ tech }}</span>
      </div>
    </div>
  </div>
</section>
<section class="exp">
  <div *inView>
    <div class="fade-up text-center container-fluid">
      <h2>{{ "experience" | translate }}</h2>
      <div class="row gy-2 same-height">
        <div class="col-sm-6" *ngFor="let exp of experiences; let i = index">
          <div class="step-{{ i + 1 }} step position-relative">
            <img
              src="/assets/images/companies/{{ exp.name }}.jpg"
              class="position-absolute company-logo end-0"
              style="width: 30px"
            />
            <h3>{{ exp.name }}</h3>
            <div class="dates">{{ exp.years }}</div>
            <div class="details" [innerHtml]="exp.description | translate"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="recommendations text-center">
  <div *inView>
    <h2>{{ "testimonials" | translate }}</h2>
    <div class="p-3 pt-0 fade-down">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let re of recommendations; let i = index">
          <div class="picsum-img-wrapper9">
            <div class="card recommendation p-3 text-center">
              <div class="cord-body">
                <img
                  src="/assets/images/recommendations/{{ re.name }}.jpg"
                  style="width: 100px"
                />

                <div class="card-title">{{ re.name }}<br/><span class="job-type">{{re.title}}</span></div>

                <div class="card-text"  [innerHtml]="re.description | translate"></div>
              </div>
            </div>
          </div>
          <!-- <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div> -->
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</section>

<section class="credits text-center">
  <div *inView class="fade-up">
    <h2>{{ "credits" | translate }}</h2>
    <a
      target="_blank"
      href="https://www.freepik.com/free-photo/branding-copyright-design-spaceship-graphic-concept_16449598.htm#page=5&query=office%20computer&position=7&from_view=search&track=sph"
      >Image by rawpixel.com</a
    >
    on Freepik
  </div>
</section>
<section class="contact text-center">
  <div *inView class="fade-down">
    <h2>{{ "contact" | translate }}</h2>
    <a
      href="https://www.linkedin.com/in/rivky-rubin-748700175"
      target="_blank"
      class="deco-none me-2"
      ><i class="fa fa-linkedin" aria-hidden="true"></i
    ></a>
    <a
      href="mailto:rivkyrubin2@gmail.com"
      target="_blank"
      class="deco-none me-2"
      ><i class="fa fa-envelope" aria-hidden="true"></i
    ></a>
    <a
      href="whatsapp://send?phone=+972546778203"
      target="_blank"
      class="deco-none me-2"
      ><i class="fa fa-whatsapp" aria-hidden="true"></i
    ></a>
  </div>
</section>